.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #f2e2ff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
}

.full-viewport-height {
  height: 100vh;
}

.field {
  position: relative;
  line-height: 200%;
}

.error {
  position: absolute;
  bottom: -27px;
  left: 6px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
